* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  line-height: 1.6;
  font-family: "Noto Sans", sans-serif;
}

.image-side {
  flex: 3;
  background-image: url(/imgReference/hongjin-wang-nnaphdlX1WY-unsplash.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.image-side .odin-logo {
  background-image: url(/imgReference/odin-lined.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.384);
  width: 100%;
  height: 150px;
  top: 50%;
  transform: translateY(-50%);
}

.image-side figure {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 5px 0;
}

.image-side figure a:link {
  color: white;
}

.content-side {
  flex: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.beforeForm {
  padding: 0px 50px;
  font-size: 25px;
  font-weight: normal;
  max-width: 900px;
}

.sep {
  margin-top: 10px;
}

.form-wrapper {
  background-color: #f9fafb;
  padding: 40px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px;
  width: 100%;
  margin-left: 0;
}

fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 2rem;
  max-width: 850px;
  padding: 0 50px;
  background-color: transparent;
  box-shadow: none;
}

.form-item {
  flex: 0 1 calc(50% - 1rem);
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  outline: none;
  border: 1px solid #5b8eb4;
  box-shadow: rgb(38, 57, 77) 0px 5px 30px -10px;
  transition: 0.3s all ease-in-out;
}

input:user-valid {
  border-color: #5cb85c;
}

input:user-invalid {
  border-color: #f11616;
}

legend {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
}

.form-label {
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

button {
  margin-top: 40px;
  padding: 15px 50px;
  margin-left: 50px;
  width: auto;
  min-width: 230px;
  background-color: #596d48;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  cursor: pointer;
}

.login {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 50px;
}

.login a {
  text-decoration: none;
  color: #596d48;
  font-weight: bolder;
}
